@page "/"
@using Chapter02.Core.Dtos.Users
@model IndexModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Book Store";
    
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}


    

