@page "{userId}/{token}"
@model ConfirmEmailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Confrim Email";
}


@if (ViewData["ErrorMessage"] != null)
{
    <span class="text-danger">@ViewData["ErrorMessage"]</span>
}else
{
<span class="text-success">@ViewData["SuccessMessage"]</span>
}


