@page
@model Chapter02.Pages.Auth.ForgotPasswordModel
@{
    Layout = "_Layout";
}
<div class="container">


<form method="post" asp-page="/SignIn">
    @if (@ViewData["ErrorMessage"] != null)
    {
        <span class="text-danger mt-3">@ViewData["ErrorMessage"]</span>
    }
    <br>
    <div>
        <label asp-for="Email">Email address</label>
        <input type="email" class="form-control" asp-for="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>