@page
@model Chapter02.Pages.Auth.ResetPasswordModel
@{
    Layout = "_Layout";
}
<div class="container">


<form method="post" asp-page="/SignIn">
    @if (@ViewData["ErrorMessage"] != null)
    {
        <span class="text-danger mt-3">@ViewData["ErrorMessage"]</span>
    }
    <br>
        <input type="hidden" value="@ViewData["Email"]" asp-for="ForgotPassword.Email">
        <input type="hidden" value="@ViewData["Token"]" asp-for="ForgotPassword.Token">
    <div>

        <label asp-for="ForgotPassword.Password">Password</label>
        <input type="password" class="form-control" asp-for="ForgotPassword.Password">
        <span class="text-danger" asp-validation-for="ForgotPassword.Password"></span>
    </div>
    <div>

        <label asp-for="ForgotPassword.ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" asp-for="ForgotPassword.ConfirmPassword">
        <span class="text-danger" asp-validation-for="ForgotPassword.ConfirmPassword"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="text-danger" asp-validation-summary="All"></div>
</form>
</div>