<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About My Love</title>
</head>

<body style="margin: 0; padding: 0; background: #3a1010; color: white; font-family: Arial, sans-serif; text-align: center;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; margin: auto; background: #3a1010; padding: 20px; border-radius: 10px;">
        <tr>
            <td align="center" style="padding: 20px; background: rgb(187, 56, 56); border-radius: 10px 10px 0 0;">
                <h1 style="margin: 0; font-size: 32px; color: white; font-family: 'Great Vibes', cursive;">Валентинка для коханої ❤️</h1>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
                <p style="font-size: 18px; margin: 20px auto; line-height: 1.6;">Нажми на кнопку будь ласочка 💕</p>
                <div style="font-size: 30px;">❤️</div>
                <a href="{{link}}" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background: red; color: white; text-decoration: none; border-radius: 15px; font-size: 18px;">Настя Нажми</a>
            </td>
        </tr>
    </table>
</body>

</html>
