@page 
@model Chapter02.Pages.Admin.Categories.CreateModel
@{
    Layout = "_AdminLayout";
}
<form method="post">
    @if (@ViewData["ErrorMessage"] != null)
    {
        <span class="text-danger mt-3">@ViewData["ErrorMessage"]</span>
    }
    <br>
    <h2 class="card-title">Create New Category</h2>
    <div class="col-4 offset-4">
        <label asp-for="Category.Name">Name</label>
        <input required type="text" class="form-control" asp-for="Category.Name">
        <span class="text-danger" asp-validation-for="Category.Name"></span>
    </div>
    <br />
    <button class="btn btn-success">Create</button>
</form>