<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">Anything you want</div>
    <strong>
        Copyright © 2020-2024&nbsp;
        <a asp-page="/admin/index" class="text-decoration-none">Book Store</a>.
    </strong>
    All rights reserved.
</footer>
