@using Chapter02.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<AspNetUser> manager
@{
   var user = await manager.GetUserAsync(User);
}
<!-- Navbar -->

<nav class="app-header navbar navbar-expand bg-body">
    <!--begin::Container-->
    <div class="container-fluid">
        <!-- Start navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        <!-- End navbar links -->

        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown user-menu">
                <a asp-page="/user/profile" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img src="/images/users/@user?.ImageName"
                         class="user-image rounded-circle shadow"
                         alt="User Image" />
                    <span class="d-none d-md-inline">@user?.Email</span>
                </a>
                
            </li>
        </ul>
    </div>
    <!--end::Container-->
</nav>
<!-- /.navbar -->
