@page "{Id}"
@model Chapter02.Pages.Admin.Books.DeleteModel
@{
    Layout = "_AdminLayout";
}

<div class=" bg-opacity-25">

    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 offset-3">
                <div class="card card-danger">
                    <br />
                    <div class="card">
                        <div class="card-body">
                            <img style="width:300px; height:300px;" src="~/images/books/@Model.Book.ImageName"/>
                            <h6 class="card-subtitle mb-2 text-muted">Do you wanna Delete @Model.Book.Name 
                                by  @foreach (var item in Model.Book.Authors)
                                {
                                    <span>@item.Name @item.Surname, </span>
                                }</h6>
                            <form method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>

