<!DOCTYPE html>
<html lang="en">
    @using Chapter02.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<AspNetUser> manager
@{
    AspNetUser? user = await manager.GetUserAsync(User);
    ViewData["currentUser"] = user;
    
}
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">


    <title>@ViewData["Title"]</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__logo">
                    <img src="img/header/logo.png" alt="">
                    <h1>NETH BOOKPOINT</h1>
                </div>
                <nav class="header__m">
                    <ul class="header__menu">
                        @if (User.IsInRole("admin"))
                        {
                            <li class="header__menu-item"><a asp-page="/admin/index" class="home">Dashboard</a></li>
                        }
                        <li class="header__menu-item"><a asp-page="/home/index" class="home">Home</a></li>
                        <li class="header__menu-item"><a href="" class="about">About</a></li>
                        <li class="header__menu-item"><a asp-page="/home/shop" class="shop">Shop</a></li>
                        <li class="header__menu-item"><a href="" class="delivery-Team">Delivery Team</a></li>
                        <li class="header__menu-item"><a href="" class="sellers">Sellers</a></li>
                        <li class="header__menu-item"><a href="" class="bell"><img src="img/header/Bell.png" alt=""></a></li>
                        @if (user != null)
                        {
                            <li class="header__menu-item">
                                <a asp-page="/user/profile" class="bell">
                                    <img style="max-width:50px; border-radius:15px" src="/images/users/@user!.ImageName" alt="">
                                    <p>@user.Email</p>
                                </a>
                            </li>
                        }
                        else{
                        <li class="header__menu-item">
                            <a asp-page="/auth/signin" class="link-primary">Sign In
                            </a>
                        </li>
                        }
                       

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        @RenderBody()

    </main>
    
    <footer class="footer">
        <div class="container">
            <img class="footer__img" src="/img/Shop/footer/logo-for-footer-or-body2.png" alt="">
            <div class="footer__line"></div>
            <div class="footer__row">
                <ul class="footer__row-social-networks">
                    <li>
                        <p>
                            © 2024

                            <span class="footer__row-social-networks-text1">| Neth BookPoint</span>
                        </p>
                    </li>
                    <li>
                        <span class="footer__row-social-networks-text2">
                            Visit our branches in Galle, Kurunegala, Kandy, and Colombo, and register for our online
                            platform to enjoy maximum benefits!
                        </span>
                    </li>
                    <li>
                        <img src="/img/footer/Facebook.png" alt="">
                    </li>
                    <li>
                        <img src="/img/footer/Linkedin.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </footer>
  
</body>

</html>